* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
 
 html, body {
    width: 100%;
    height: 100%;
    padding-top: 10%;
    padding-left: 20%;
 }

 .form {
    width: 400px;
    height: 200px;
    text-align: center;
    color: #f5f5f5;
    color: rgb(96, 70, 120);
    border: 1px solid rgb(124, 75, 75);
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    font-style: 24px;
    margin-bottom: 10px;
    padding-top: 12px;
}

p {
    font-style: 16px;
    margin-bottom: 20px;
    padding-top: 9px;
}

input[type="email"] {
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
}

button {
    background-color: #0b3664;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #7bb1eb;
    color: red;
}
